<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.john.com.listanime">

    <application
        android:name=".persistencia.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Entrar"
            android:screenOrientation="portrait"
            android:label="Entrar"/>
        <activity
            android:name=".ui.Cadastrar"
            android:screenOrientation="portrait"
            android:label="Cadastrar"/>
        <activity
            android:name=".ui.Main"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CadastrarAnime"
            android:screenOrientation="portrait"
            android:label="Adicionar Anime" />
        <activity
            android:name=".ui.MeusNumeros"
            android:screenOrientation="portrait"
            android:label="Meus Números"/>
        <activity
            android:name=".ui.MeusTops"
            android:screenOrientation="portrait"
            android:label="Meus Top&apos;s" />
        <activity
            android:name=".ui.PretendoAssistir"
            android:screenOrientation="portrait"
            android:label="Pretendo Assistir" />
        <activity
            android:name=".ui.AnimesDescartados"
            android:screenOrientation="portrait"
            android:label="Animes Descartados"/>
        <activity
            android:name=".ui.Configuracoes"
            android:screenOrientation="portrait"
            android:label="Configurações de Usuário"/>
        <activity
            android:name=".ui.TelaTop"
            android:screenOrientation="portrait"
            android:label="Adicionar Top" />
        <activity
            android:name=".ui.EscolherItem"
            android:screenOrientation="portrait"
            android:label="Selecionar Anime" />
        <activity
            android:name=".ui.Anotacoes"
            android:screenOrientation="portrait"
            android:label="Anotações"/>
        <activity
            android:name=".ui.EscreverAnotacao"
            android:screenOrientation="portrait"
            android:label="Nova Anotação"></activity>
    </application>

</manifest>